@model LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ 

}

<form asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>@Localizer["Username"]</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>@Localizer["Password"]</label>
        <input asp-for="Password"/>
    </div>
    <input type="submit" value="@Localizer["SignIn"]" />
</form>