@model IEnumerable<Post>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ 
    ViewBag.Title = "Blog website";
    ViewBag.Descriprion = "This Blog has everything!";
    ViewBag.KeyWords = "blog programming travel photography";

}

@*<h2>Home page</h2>

<img src="~/content/static/476082.jpg" width="500" />*@

<div class="main_image">
    <span class="title">@Localizer["Header"]</span>
</div>

<div class="container">

    @foreach (var post in Model)
    {
        var image_path = $"/image/{post.Image}";
         <a  class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
              <img src="@image_path"/>
              <span class="title">@post.Title</span>
         </a>
    }

</div>